body {
    font-family: Calibri;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "title checkboxes" "publisher checkboxes" "rating checkboxes" "submit submit";
}

#title-container {
    grid-area: title;
}

#platform-container {
    grid-area: checkboxes;
}

#plublisher-container {
    grid-area: publisher;
}

#rating-container {
    grid-area: rating;
}

#submit-btn {
    grid-area: submit;
}

ul {
    list-style: none;
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

li {
    display: grid;
    grid-template-rows: 1fr auto auto;
    border: 1px solid #a3a3a3;
    border-radius: 10px;
    box-shadow: 4px 4px 4px #a3a3a3;
    padding: 20px;
    margin: 10px;
}

li>hgroup {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "title title" "publisher platform" "section section";
}

li>hgroup>* {
    margin: 0px;
}

hgroup>.title {
    grid-area: title;
}

hgroup>.platform {
    grid-area: platform;
    text-align: right;
}

#checkbox-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.platform-section {
    grid-area: section;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
}

.platform-section>p {
    margin: 0px;
    text-align: center;
}

hgroup>.publisher {
    grid-area: publisher;
}

.spinner {
    cursor: pointer;
    text-decoration: underline;
}

main {
    padding: 10px;
    padding-top: 0px;
    margin-top: 10px;
}

main>h2 {
    margin: 0px;
}

.user-rating {
    font-weight: 900;
}

.bad {
    border-top: 10px solid #C71E1D;
}

.ok {
    border-top: 10px solid #FFB560;
}

.good {
    border-top: 10px solid #14617A;
}

.great {
    border-top: 10px solid #6BCBB6;
}