body {
    font-family: Calibri;
}

ul {
    list-style: none;
    padding: 0px;
    display: flex;
    flex-flow: row wrap;
}

li {
    display: grid;
    grid-template-rows: 1fr 2fr auto;
    border: 1px solid black;
    padding: 20px;
    margin: 10px;
}

li>hgroup {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "title title" "platform publisher";
}

li>hgroup>* {
    margin: 0px;
}

hgroup>.title {
    grid-area: title;
}

hgroup>.platform {
    grid-area: platform;
}

hgroup>.publisher {
    grid-area: publisher;
    text-align: right;
}

main {
    padding: 10px;
}

main>h2 {
    margin: 0px;
}

.user-rating {
    font-weight: 900;
}

.bad {
    border-top: 10px solid #C71E1D;
}

.ok {
    border-top: 10px solid #FFB560;
}

.good {
    border-top: 10px solid #14617A;
}

.great {
    border-top: 10px solid #6BCBB6;
}